body{

      font-family: DINRoundPro;
}


#toggle-nav {
    background: #fff49b;
    color: #211e1e;
    font-size: 14.5px;
    font-weight: 500;
    position: relative;
}

#toggle-nav:hover .hamburger .base {
	opacity:0
}
#toggle-nav:hover .hamburger:before {
	-webkit-transform-origin:100% 100%;
	-moz-transform-origin:100% 100%;
	-ms-transform-origin:100% 100%;
	-o-transform-origin:100% 100%;
	transform-origin:100% 100%;
	-webkit-transform:translateX(3px) translateY(0) rotate(45deg);
	-moz-transform:translateX(3px) translateY(0) rotate(45deg);
	-ms-transform:translateX(3px) translateY(0) rotate(45deg);
	-o-transform:translateX(3px) translateY(0) rotate(45deg);
	transform:translateX(3px) translateY(0) rotate(45deg);
	width:18px
}
#toggle-nav:hover .hamburger:after {
	-webkit-transform-origin:100% 0;
	-moz-transform-origin:100% 0;
	-ms-transform-origin:100% 0;
	-o-transform-origin:100% 0;
	transform-origin:100% 0;
	-webkit-transform:translateX(3px) translateY(0) rotate(-45deg);
	-moz-transform:translateX(3px) translateY(0) rotate(-45deg);
	-ms-transform:translateX(3px) translateY(0) rotate(-45deg);
	-o-transform:translateX(3px) translateY(0) rotate(-45deg);
	transform:translateX(3px) translateY(0) rotate(-45deg);
	width:18px
}
.header-button {
    line-height: 25px;
    height: 55px;
    position: relative;
    padding: 15px;
    text-transform: uppercase;
    display: block;
    float: left;
    font-size: 12px;
    font-size: 0.75rem;
    color: rgba(255,255,255,0.6);
}

a {
    text-decoration: none;
    transition: 0.1s all ease-in;
     outline: none;
  }


  #toggle-nav .hamburger::before, #toggle-nav .hamburger::after {
      content: '';
  }


  #toggle-nav .hamburger .base, #toggle-nav .hamburger::before, #toggle-nav .hamburger::after {
      width: 25px;
      height: 4px;
      background: black;
      display: inline-block;
      position: absolute;
      left: 15px;
      top: 26px;
      -webkit-transition: 0.1s all ease-in;
      -moz-transition: 0.1s all ease-in;
      transition: 0.1s all ease-in;
  }

  #toggle-nav .hamburger::before {
    -webkit-transform: translateY(-9px);
    -moz-transform: translateY(-9px);
    */-o-transform: translateY(-9px);
    transform: translateY(-9px);
}

#toggle-nav .hamburger::before, #toggle-nav .hamburger::after {
    content: '';
}

  #toggle-nav.open .hamburger::before {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: translateX(0) translateY(0) rotate(45deg);
    -moz-transform: translateX(0) translateY(0) rotate(45deg);
    -ms-transform: translateX(0) translateY(0) rotate(45deg);
    -o-transform: translateX(0) translateY(0) rotate(45deg);
    transform: translateX(0) translateY(0) rotate(45deg);
    width: 28px;
}


#toggle-nav .hamburger::before {
    -webkit-transform: translateY(-9px);
    -moz-transform: translateY(-9px);
    -ms-transform: translateY(-9px);
    -o-transform: translateY(-9px);
    transform: translateY(-9px);
}


#toggle-nav.open .hamburger .base {
    opacity: 0;
}

#toggle-nav.open .hamburger::after {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: translateX(0) translateY(0) rotate(-45deg);
    -moz-transform: translateX(0) translateY(0) rotate(-45deg);
    -ms-transform: translateX(0) translateY(0) rotate(-45deg);
    -o-transform: translateX(0) translateY(0) rotate(-45deg);
    transform: translateX(0) translateY(0) rotate(-45deg);
    width: 28px;
}


#toggle-nav .hamburger::after {
    -webkit-transform: translateY(9px);
    -moz-transform: translateY(9px);
    -ms-transform: translateY(9px);
    -o-transform: translateY(9px);
    transform: translateY(9px);
}

#toggle-nav .label {
    margin-left: 50px;
}


/*********************************/
/*       MENU            */



#main-nav.open ul {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

#main-nav > ul {
    background: #fff49b;
    padding: 105px 25px 50px 25px;
    position: fixed;
    left: 0;
    top: 77px;
    height: 100%;
    width: 285px;
    -webkit-transition: 0.6s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition: 0.6s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: 0.6s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
    font-family: DINRoundPro;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    z-index: 9998;
}

#main-nav > ul > li:first-child {
    border-top: 0;
}
#main-nav > ul > li {
    line-height: 38px;
    border-top: 1px solid #C7BE7C;
}

#main-nav > ul > li > a {
    color: #211e1e;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;

}

#main-nav a {
    color: #211e1e;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

a {
    text-decoration: none;
    -webkit-transition: 0.1s all ease-in;
    -moz-transition: 0.1s all ease-in;
    transition: 0.1s all ease-in;
    outline: none;
    color: #fff49b;
}

a {
    color: #008cba;
    text-decoration: none;
    line-height: inherit;
}

#main-nav > ul > li ul {
    margin-bottom: 8px;
}


/**********************/
/* MENU SOCIAL */
/***********************/


#main-nav .menu-social {
    padding-top: 10px;
}

.icon-facebook::before {
    content: '\e800';
}

[class^="icon-"]::before, [class*=" icon-"]::before {
    font-family: "social";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
}

.social-button {
    display: inline-block;
    width: 22px;
    height: 22px;
    border: 1px solid #211e1e;
    position: relative;
    line-height: 20px;
    text-align: center;
    font-size: 14px !important;
    margin-right: 10px;
}


.icon-twitter::before {
    content: '\e801';
}

.icon-mail::before {
    content: '\e803';
}
